{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<style type="text/css">
    {% include "admin/sensorsdk/base.css" %}
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-global %}
<a href="/sensorsdk/" style="margin: 0 12px">{% trans 'SensorSDK Home' %}</a>
{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}

    {% if extra_list %}
        <div class="module" >
	<table summary="{% trans "Available Extra settings" %}">
        <caption>{% trans "Extra Settings" %}</caption>
	{% for extra in extra_list %}
	    <tr>
		<th scope="row"><a href="{{ extra.url }}">{{ extra.name }}</a></th>
		<!-- needed to get the Extra Settings title expaned -->
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	    </tr>
	{% endfor %}
	</table>
	</div>
    {% endif %}

{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    {% if setup_steps %}
        <div class="module" id="help" style="width: 500px;">
	    <h2>{% trans "Quick Setup" %}</h2>
	    <h3>{% trans "Needed Steps" %}</h3>
	    <ul class="actionlist">
		{% for step in setup_steps %}
		    <li>{{ forloop.counter }} - 
			{% if step.url %}<a href="{{ step.url }}">{% endif %}
			    {{ step.text }}
			{% if step.url %}</a>{% endif %}
			{% if step.extra %}{{ step.extra }}{% endif %}
			{% if step.state %}{{ step.state }}{% endif %}
		    </li>
		{% endfor %}
	    </ul>
	</div>
    {% endif %}

    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>

    
</div>
{% endblock %}
