{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrastyle %}
<style media="all" type="text/css">
{% include "admin/sensorsdk/reset.css" %}
</style>

{{ block.super }}

<style media="all" type="text/css">
    #help_info { 
	position: absolute;
	float: right;
	top: 94px; 
	right: 15px; 
	z-index: 1; 
	width: 45%; 
	padding: 1%;
    }
</style>
<script type="text/javascript" src="/site_media/MochiKit.js"></script>

<script type="text/javascript">
    function setButtonText(button, text){
	$(button).textContent = text
    }

    function blind(field, button, hide_text, show_text){
	toggle(field, 'blind')
	
	if (getStyle($(field), 'display') == 'none') {
	    setTimeout('setButtonText("'+button+'","'+hide_text+'")',500);
	}
	else {
	    setTimeout('setButtonText("'+button+'","'+show_text+'")',500);
	}
    }
</script>

{% endblock %}

{% block extrabody %}
<div id="help_info" class="module aligned">
<button id="help_info_button" 
    type="button" 
    onclick="blind('help_info_body', 
	'help_info_button',
	'{% trans "Hide Information"%}',
	'{% trans "Show Information"%}');">{% trans "Hide Information" %}</button>
<div id="help_info_body">
<h1>{% trans "Template Settings" %}</h1>
<p>
{% trans "On this page you will be able to set the templates for all the alarm system used by SensorSDK." %}<br>
{% trans "There are only a few templates you need to define, you can't have multiple templates per alarm mode" %}<br>
</p>
<h1>{% trans "Available Tags/Variables" %}</h1>
<p>{% trans "Besides all the tags provided by Sjango, SensorSDK gives you access to this tags/variables" %}:</p>
<ul>
<li><b>&#123;&#123; target &#125;&#125;:</b> {% trans "References the node that triggered the alarm." %}
<ul>
<li><b>&#123;&#123; target.address &#125;&#125;:</b> {% trans "Address of the node that triggered the alarm." %}
<li><b>&#123;&#123; target.name &#125;&#125;:</b> {% trans "Name of the node that triggered the alarm." %}
<li><b>&#123;&#123; target.mode &#125;&#125;:</b> {% trans "Working mode of the node that triggered the alarm." %}
<li><b>&#123;&#123; target.friendly_name &#125;&#125;:</b> {% trans "Working mode of the node that triggered the alarm." %}
</ul>
<li><b>&#123;&#123; value &#125;&#125;:</b> {% trans "Value that made the alarm get triggered." %}
<li><b>&#123;&#123; definition &#125;&#125;:</b> {% trans "Alarm definition." %}
<ul>
<li><b>&#123;&#123; definition.mode &#125;&#125;:</b> {% trans "Kind of alarm." %}
<li><b>&#123;&#123; definition.field &#125;&#125;:</b> {% trans "Monitored field." %}
<li><b>&#123;&#123; definition.set &#125;&#125;:</b> {% trans "Set point for the triggered alarm." %}
<li><b>&#123;&#123; definition.clr &#125;&#125;:</b> {% trans "Clear point for the triggered alarm." %}
<li><b>&#123;&#123; definition.targets &#125;&#125;:</b> {% trans "List of remote devices watched by this alarm trigger." %}
<li><b>&#123;&#123; definition.timeout &#125;&#125;:</b> {% trans "Amount of seconds that will be elapsed before this alarm is retriggered automatically." %}
<li><b>&#123;&#123; definition.users &#125;&#125;:</b> {% trans "Users that will get this alarm." %}
</ul>
<li><b>&#123;&#123; time &#125;&#125;:</b> {% trans "Time when the alarm was triggered." %}
<li><b>&#123;&#123; user &#125;&#125;:</b> {% trans "User been rendered." %}
</ul>
<br>
<p>{% trans "Some extra maybe interesting variables include" %}:<br>
<b>&#123;&#123; notice &#125;&#125;</b>,<b>&#123;&#123; notices_url &#125;&#125;</b>, <b>&#123;&#123; current_site &#125;&#125;</b>
</p>
<br>
<p>{% trans "For more template tags and variables check SensorSDK, OpenProximity and Django documentations" %}
</div>
</div>
{% endblock %}
