{% extends "sensorsdk/base.html" %}
{% load i18n %}

{% block title %}SensorSDK{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/MochiKit.js"></script>

{% include "sensorsdk/update_last_records.js" %}
{% include "sensorsdk/update_last_alerts.js" %}

{% endblock %}

{% block content %}

<div id="pending_alarms" class="content-main">
    <div class="inner">
	<h1>{% trans "Pending Alarms" %}</h1>
	<div id="pending_alarms_holder"></div>
    </div>
</div>

<div id="sdk_latest_records" class="content-main">
    <div class="inner">
	<h1>{% trans "Latest Records" %}</h1>
	<div id="sdk_last_records_holder"></div>
    </div>
</div>

{% include "sensorsdk/sdk_info.html" %}

{% endblock %}
