{% extends "sensorsdk/base.html" %}
{% load i18n %}

{% block title %}SensorSDK{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/MochiKit.js"></script>

{% include "sensorsdk/update_last_records.js" %}
{% include "sensorsdk/update_last_alerts.js" %}

{% endblock %}

{% block content %}

<div id="pending_alarms" class="content-main">
    <div class="inner">
	<fieldset>
	    <legend>{% trans "Pending Alarms" %}</legend>
	    <div id="pending_alarms_holder">{% trans "Updating" %}...</div>
	</fieldset>
    </div>
</div>

<div id="sdk_latest_records" class="content-main">
    <div class="inner">
	<fieldset>
	    <legend>{% trans "Latest Records" %}</legend>
	    <div id="sdk_last_records_holder">{% trans "Updating" %}...</div>
	</fieldset>
    </div>
</div>

{% include "sensorsdk/sdk_info.html" %}

{% endblock %}
